ldist: xenial
language: python
python:
  - "2.7"
  - "3.7"
# cache: pip

# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - pytest --flakes --cov=greengo tests/
